.auth__container {
  margin-top: 50px;
  font-family: var(--bold-font);
  width: 60vw;
  height: fit-content;
  max-width: 400px;
  padding: 15px 35px 5px 35px;
  box-sizing: border-box;
  /* border: 1px solid rgb(var(--grey), .15); */
  border-radius: 10px;
  color: rgb(var(--grey));
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0 80px 200px 5px rgb(var(--grey));
}

@media screen and (max-width: 460px) {
  .auth__container {
    width: auto;
  }
} 