.tests {
  margin: auto 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 460px) {
  .tests{
    margin: 50px 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}