.word__textcontent {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(var(--grey));
}

.word__textcontent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.word__textcontent input {
  width: 70%;
  height: 20px;
}

.word__textcontent button {
  width: 40%;
  font-family: var(--light-font);
  font-size: 15px;
  background-color:rgb(var(--red));
  border: none;
  height: 30px;
}

@media screen and (max-width: 550px) {
  .word__textcontent {
    width: 60vw;
    padding: 10px;
    box-sizing: border-box;
    gap: 20px;
  }
}